.shape1 {
    clip-path: polygon(0 30%, 30% 0, 0 0);
}

.shape2 {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.bannerImg {
    animation: animateBannerImage 0.8s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes animateBannerImage {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);

        opacity: 1;
    }
}